<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Item List</title>
    <!-- Add Bootstrap CSS link here -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    {% include 'navbar.html' %}
    
    <div class="container mt-5">
        <h1>Item List</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <!-- <th scope="col">#</th> -->
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <!-- <th scope="row">{{ item.pk }}</th> -->
                        <td>{{ item.name }}</td>
                        <td>{{ item.description }}</td>
                        <td>
                            <a class="btn btn-info" href="{% url 'item_detail' pk=item.pk %}">Details</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-primary" href="{% url 'item_new' %}">Add New Item</a>
    </div>
    <!-- Add Bootstrap JS and jQuery links here -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>

